<html>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="./clustXplorer/static/clustXplorer_logo_v3.png" alt="clustXplorer" height = "35 px"/> 
      </a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li class="active"><a href="./clustXplorer/static/home.html">Home</a></li>
      <li><a href="#">Analysis</a></li>
      <li><a href="./clustXplorer/static/about.html">About</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
</html>